In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [10]:
features = pd.read_csv("features.csv")
stores = pd.read_csv("stores.csv")
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [11]:
features['MarkDown1'] = features['MarkDown1'].fillna(0)
features['MarkDown2'] = features['MarkDown1'].fillna(0)
features['MarkDown3'] = features['MarkDown1'].fillna(0)
features['MarkDown4'] = features['MarkDown1'].fillna(0)
features['MarkDown5'] = features['MarkDown1'].fillna(0)

# display(features[features['MarkDown1'].notnull()].count())
# display(features[features['MarkDown2'].notnull()].count())
# display(features[features['MarkDown3'].notnull()].count())
# display(features[features['MarkDown4'].notnull()].count())
# display(features[features['MarkDown5'].notnull()].count())

In [12]:
features.sort_values(['Store','Date']).head()
# display(features[features['CPI'].isnull()])
# display(features[features['Unemployment'].isnull()])

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,False

In [13]:
features['Date'] = pd.to_datetime(features['Date'], format="%Y-%m-%d")
train['Date'] = pd.to_datetime(train['Date'], format="%Y-%m-%d")
test['Date'] = pd.to_datetime(test['Date'], format="%Y-%m-%d")


type(features['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
features['CPI_lag'] = features.groupby(['Store'])['CPI'].shift(1)
features.head()
features['CPI'] = np.where(features['CPI'].isnull(), features['CPI_lag'] , features['CPI'])
features['CPI'] = np.where(features['CPI'].isnull(), 193.589304 , features['CPI'])

features['Unemployment_lag'] = features.groupby(['Store'])['Unemployment'].shift(1)
features.head()
features['Unemployment'] = np.where(features['Unemployment'].isnull(), features['Unemployment_lag'] , features['Unemployment'])
features['Unemployment'] = np.where(features['Unemployment'].isnull(), 8.335 , features['Unemployment'])

features.drop(['CPI_lag','Unemployment_lag'], axis=1, inplace=True)

features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,False

In [15]:
# display(train.head())
# display(features.head())
# display(stores.head())

In [16]:
combined = pd.merge(train, stores, how="left", on="Store")
combined_train = pd.merge(combined, features, how="inner", on=['Store','Date'])

display(combined_train)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
1,1,2,2010-02-05,50605.27,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
2,1,3,2010-02-05,13740.12,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
3,1,4,2010-02-05,39954.04,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
4,1,5,2010-02-05,32229.38,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
5,1,6,2010-02-05,5749.03,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
6,1,7,2010-02-05,21084.08,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
7,1,8,2010-02-05,40129.01,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
8,1,9,2010-02-05,16930.99,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
9,1,10,2010-02-05,30721.50,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
10,1,11,2010-02-05,24213.18,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
11,1,12,2010-02-05,8449.54,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
12,1,13,2010-02-05,41969.29,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
13,1,14,2010-02-05,19466.91,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
14,1,16,2010-02-05,10217.55,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
15,1,17,2010-02-05,13223.76,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
16,1,18,2010-02-05,4729.50,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
17,1,19,2010-02-05,1947.05,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
18,1,20,2010-02-05,5034.10,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
19,1,21,2010-02-05,8907.63,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
20,1,22,2010-02-05,13623.98,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
21,1,23,2010-02-05,24146.49,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
22,1,24,2010-02-05,8272.90,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
23,1,25,2010-02-05,11609.50,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
24,1,26,2010-02-05,11737.12,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
25,1,27,2010-02-05,2293.00,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
26,1,28,2010-02-05,1085.29,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
27,1,29,2010-02-05,7024.95,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
28,1,30,2010-02-05,5491.00,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
29,1,31,2010-02-05,3455.92,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421540,45,41,2012-10-26,1954.67,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421541,45,42,2012-10-26,4894.78,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421542,45,44,2012-10-26,3144.09,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421543,45,46,2012-10-26,13329.25,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421544,45,52,2012-10-26,1104.16,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421545,45,54,2012-10-26,23.92,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421546,45,55,2012-10-26,3458.17,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421547,45,56,2012-10-26,937.72,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421548,45,58,2012-10-26,275.00,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421549,45,59,2012-10-26,191.98,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421550,45,60,2012-10-26,117.00,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421551,45,67,2012-10-26,5772.09,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421552,45,71,2012-10-26,2789.38,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421553,45,72,2012-10-26,33366.60,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421554,45,74,2012-10-26,9814.88,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421555,45,79,2012-10-26,14618.60,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421556,45,80,2012-10-26,670.88,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421557,45,81,2012-10-26,14693.09,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421558,45,82,2012-10-26,17360.33,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421559,45,83,2012-10-26,717.82,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421560,45,85,2012-10-26,1689.10,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421561,45,87,2012-10-26,8187.66,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421562,45,90,2012-10-26,25352.32,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421563,45,91,2012-10-26,16330.84,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421564,45,92,2012-10-26,54608.75,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421565,45,93,2012-10-26,2487.80,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421566,45,94,2012-10-26,5203.31,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421567,45,95,2012-10-26,56017.47,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421568,45,97,2012-10-26,6817.48,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False
421569,45,98,2012-10-26,1076.80,False,B,118221,58.85,3.882,4018.91,4018.91,4018.91,4018.91,4018.91,192.308899,8.667,False